.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 150;
    overflow-y: auto;
    @include min768 {
        background-color: rgba(20, 20, 20, .7);
    }
    &__wrap {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        @include min768 {
            padding: 32px;
            gap: 24px;
            max-width: 482px;
            border-radius: $br24;
            background-color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @media (max-height: 767px) {
            top: 10%;
            transform: translate(-50%, 0);
        }
        .modal__close {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: $gray_50;
            @include flex-center;
            @include min768 {
                width: 52px;
                height: 52px;
                top: 0;
                right: -62px;
            }
            &:hover {
                background-color: $green;
                svg {
                    path {
                        stroke: $white;
                    }
                }
            }
        }
    }
    &__title {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: $black;
        &.t-left {
            text-align: left;
        }
        &.t-right {
            text-align: right;
        }
        @include min768 {
            font-size: 28px;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}