.contacts_info {
    &__left {
        display: flex;
        flex-direction: column;
        .h2 {
            margin-bottom: 24px;
            @include min1024 {
                margin-bottom: 28px;
            }
            @include min1920 {
                margin-bottom: 36px;
            }
        }
        .text {
            a {
                color: $green;
                text-decoration: underline;
                transition: 250ms ease;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .link {
            margin-top: 24px;
            color: $green;
            text-decoration: underline;
            transition: 250ms ease;
            &:hover {
                text-decoration: none;
            }
        }
    }
}