.products_app_grid {
    border-radius: $br28;
    background-color: $gray_10;
    padding: 64px 0;
    .h2 {
        margin-bottom: 24px;
        @include min1024 {
            margin-bottom: 28px;
        }
        @include min1920 {
            margin-bottom: 36px;
        }
    }
}