$container: 1368px;
$green: #00CB62;
$white: #FFFFFF;
$black: #141414;
$black_light: #191919;
$gray_10: #F7F7F7;
$gray_50: #F5F5F5;
$gray_200: #646464;
$gray_500: #232323;
$br8: 8px;
$br12: 12px;
$br14: 14px;
$br16: 16px;
$br20: 20px;
$br24: 24px;
$br28: 28px;