.link-jop-open {
  padding: 15px 23px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  color: var(--white, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  border: 1px solid $green;
  background-color: $green;
  border-radius: 1000px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

  @include min1024 {
    font-size: 17px;
  }

  @include min1920 {
    width: fit-content;
    justify-content: center;
  }

  .svg {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: $white;
    display: flex;
    color: $black;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    @include min1024 {
      width: 28px;
      height: 28px;
    }
  }

  &:focus-visible,
  &:focus {
    outline: none;
  }

  @include min1024 {

    &:focus-visible,
    &:hover {
      color: $black;
      background-color: $white;

      .svg {
        background-color: $green;
        color: $white;
      }
    }
  }
}