.load {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: $white;
  }
  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    z-index: 3;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 4px solid #EDEDED;
    border-top-color: #15B747;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}