.pagination {
  padding-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  @include max1024 {
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 24px;
    flex-direction: column;
    gap: 8px;
    .link-show-more {
      display: none;
    }
  }
  &__arrows {
    display: none;
    @include max1024 {
      width: 100%;
      display: flex;
      gap: 8px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 6px;
    @include max1024 {
      width: 100%;
    }
  }
}