.video-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  @include max1200 {
    gap: 20px;
  }
  @include max1024 {
    grid-template-columns: repeat(1, 1fr);
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
  }
}